flows.json
[{"id":"dcfca3b0.58b9d","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"85be546e.92d4f8","type":"ibmiot in","z":"dcfca3b0.58b9d","authentication":"apiKey","apiKey":"32f8f9d0.b96866","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"5678","applicationId":"","deviceType":"Mydevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":120,"wires":[["67cd1dc6.dd4f44","26caed32.a52d02","36576dce.05b282","5451ee69.e78ef","8e8705be.130128","31f49c27.4420d4"]]},{"id":"67cd1dc6.dd4f44","type":"debug","z":"dcfca3b0.58b9d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":120,"wires":[]},{"id":"26caed32.a52d02","type":"ui_gauge","z":"dcfca3b0.58b9d","name":"","group":"afe64bc7.2f9948","order":0,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":"65","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":345,"y":200,"wires":[],"l":false},{"id":"36576dce.05b282","type":"ui_gauge","z":"dcfca3b0.58b9d","name":"","group":"3b09acf7.ca3994","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":345,"y":260,"wires":[],"l":false},{"id":"5451ee69.e78ef","type":"ui_gauge","z":"dcfca3b0.58b9d","name":"","group":"61cead61.987db4","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":325,"y":320,"wires":[],"l":false},{"id":"8e8705be.130128","type":"ui_gauge","z":"dcfca3b0.58b9d","name":"","group":"a304c703.9e9458","order":0,"width":0,"height":0,"gtype":"gage","title":"Air Quality","label":"units","format":"{{msg.payload.airquality}}","min":"16","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":325,"y":380,"wires":[],"l":false},{"id":"31f49c27.4420d4","type":"ui_gauge","z":"dcfca3b0.58b9d","name":"","group":"faf7600c.15cdf","order":0,"width":0,"height":0,"gtype":"gage","title":"Current","label":"units","format":"{{msg.payload.current}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":325,"y":440,"wires":[],"l":false},{"id":"32f8f9d0.b96866","type":"ibmiot","z":"","name":"New API Key","keepalive":"60","serverName":"nn6h7t.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"afe64bc7.2f9948","type":"ui_group","z":"","name":"Pulse","tab":"66cdf515.f0224c","order":4,"disp":true,"width":"6","collapse":false},{"id":"3b09acf7.ca3994","type":"ui_group","z":"","name":"Temperature","tab":"66cdf515.f0224c","order":5,"disp":true,"width":"6","collapse":false},{"id":"61cead61.987db4","type":"ui_group","z":"","name":"Humidity","tab":"66cdf515.f0224c","order":6,"disp":true,"width":"6","collapse":false},{"id":"a304c703.9e9458","type":"ui_group","z":"","name":"AirQuality","tab":"66cdf515.f0224c","order":7,"disp":true,"width":"6","collapse":false},{"id":"faf7600c.15cdf","type":"ui_group","z":"","name":"Current","tab":"66cdf515.f0224c","order":8,"disp":true,"width":"6","collapse":false},{"id":"66cdf515.f0224c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]