Breast Cancer Project/Prediction Page.json
[{"id":"21dc3240.a521ae","type":"tab","label":"Prediction page of Breast Cancer","disabled":false,"info":""},{"id":"8535bbf.f010048","type":"ui_form","z":"21dc3240.a521ae","name":"","label":"","group":"c8cc6044.acf3d","order":1,"width":0,"height":0,"options":[{"label":"radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"compactness_mean","value":"cm","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"cnm","type":"number","required":true,"rows":null},{"label":"concave points_mean","value":"cpm","type":"number","required":true,"rows":null}],"formValue":{"rm":"","pm":"","am":"","cm":"","cnm":"","cpm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["6b38a8c5.824668","11d4852.234cd7b"]]},{"id":"11d4852.234cd7b","type":"debug","z":"21dc3240.a521ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":360,"wires":[]},{"id":"6b38a8c5.824668","type":"function","z":"21dc3240.a521ae","name":"pre-token","func":"global.set(\"rm\",msg.payload.rm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"cm\",msg.payload.cm)\nglobal.set(\"cnm\",msg.payload.cnm)\nglobal.set(\"cpm\",msg.payload.cpm)\nvar apikey=\"lRMoHnGY4T4gTfoGztmIcg1avyWSf8FcAvehTI0xdUfu\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["28905131.81efce"]]},{"id":"28905131.81efce","type":"http request","z":"21dc3240.a521ae","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":264.00000286102295,"wires":[["77a60c7.1449af4","6265489b.bc77e8"]]},{"id":"77a60c7.1449af4","type":"debug","z":"21dc3240.a521ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":320,"wires":[]},{"id":"6265489b.bc77e8","type":"function","z":"21dc3240.a521ae","name":"Pre Prediction","func":"var rm = global.get(\"rm\")\nvar pm = global.get(\"pm\")\nvar am = global.get(\"am\")\nvar cm = global.get(\"cm\")\nvar cnm = global.get(\"cnm\")\nvar cpm = global.get(\"cpm\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"id\",\"radius_mean\",\"texture_mean\",\"perimeter_mean\",\"area_mean\",\"smoothness_mean\",\"compactness_mean\",\"concavity_mean\",\"concave points_mean\",\"symmetry_mean\",\"fractal_dimension_mean\",\"radius_se\",\"texture_se\",\"perimeter_se\",\"area_se\",\"smoothness_se\",\"compactness_se\",\"concavity_se\",\"concave points_se\",\"symmetry_se\",\"fractal_dimension_se\",\"radius_worst\",\"texture_worst\",\"perimeter_worst\",\"area_worst\",\"smoothness_worst\",\"compactness_worst\",\"concavity_worst\",\"concave points_worst\",\"symmetry_worst\",\"fractal_dimension_worst\",\"Unnamed: 32\"],\"values\":[[null,rm,null,pm,am,null,cm,cnm,cpm,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":216.0000021457672,"wires":[["82700dcf.5bbdf"]]},{"id":"82700dcf.5bbdf","type":"http request","z":"21dc3240.a521ae","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/61345418-ba47-4691-9e9e-5c87e2dcff00/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["b50492aa.6e4b1","b6fa2dbc.696bc"]]},{"id":"b50492aa.6e4b1","type":"debug","z":"21dc3240.a521ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"737b1a88.abc1d4","type":"inject","z":"21dc3240.a521ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["6b38a8c5.824668"]]},{"id":"1b9131bc.c2243e","type":"debug","z":"21dc3240.a521ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"b6fa2dbc.696bc","type":"function","z":"21dc3240.a521ae","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":148.00000190734863,"wires":[["1b9131bc.c2243e","e6f90097.3d9b1"]]},{"id":"e6f90097.3d9b1","type":"ui_text","z":"21dc3240.a521ae","group":"c8cc6044.acf3d","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"c8cc6044.acf3d","type":"ui_group","z":"","name":"Breast Cancer Prediction","tab":"e9aeda9e.4ebc38","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9aeda9e.4ebc38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false}]